/nbproject/
/index*.php
/protected/config/*
/nbproject/
/assets/*
/protected/runtime/
/protected/extensions/booster/assets/*
/protected/extensions/booster/userdoc/*
/protected/extensions/bootstrap/assets/*
.htaccess
PracticeController.php
